@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,500italic&display=swap");

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-copy:before {
  content: "\e901";
}

._icon-earth:before {
  content: "\e902";
}

._icon-glass:before {
  content: "\e903";
}

._icon-link:before {
  content: "\e904";
}

._icon-logo:before {
  content: "\e905";
}

._icon-telegram:before {
  content: "\e906";
}

._icon-time:before {
  content: "\e907";
}

._icon-web:before {
  content: "\e908";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat";
  font-size: 1rem;
  height: 100%;
  background-color: #f4f5f6;
  color: #191919;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.no-scroll {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.slider__box {
  min-height: 0;
  min-width: 0;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page__description {
  margin-bottom: 6.25rem;
}

.page__results {
  margin-bottom: 100px;
}

.page__problem {
  margin-bottom: 6.25rem;
}

.page__next {
  margin-bottom: 5.625rem;
}

.indicator-results__circle {
  display: inline-block;
  position: relative;
}

.indicator-results__circle::before {
  content: attr(aria-label);
  position: absolute;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 155.9%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #d4d4d4;
  stroke-width: 1;
  stroke-dasharray: 628px 628px;
}

circle:nth-child(2n) {
  fill: rgba(0, 0, 0, 0);
  stroke: #fcaf3b;
  stroke-width: 30;
  stroke-linecap: round;
}

.title_litle {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.875rem;
  font-weight: 700;
  font-size: 25px;
  line-height: 155.9%;
  color: #2B2B2B;
}

.title_litle:not(:last-child) {
  margin-bottom: 1.8em;
}

.title_litle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
}

.title_litle-red::before {
  background-color: #f8312f;
}

.title_litle-orange::before {
  background-color: #ff6723;
}

.title_litle-yellow::before {
  background-color: #fcd53f;
}

.title_litle-blue::before {
  background-color: #0074ba;
}

.btn {
  height: 63px;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  background-color: #20253c;
  border-radius: 5px;
  padding: 0.625rem 4.5rem;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 0.0625rem solid #d4d4d4;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content {
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #d4d4d4;
}

.footer__copy {
  padding: 2.5rem 0;
}

.content-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
}

.content-footer__logo::before {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.logo-footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2666666667;
  color: #a4a4a4;
}

.logo-footer__text span {
  font-style: italic;
  color: #fcaf3b;
}

.logo-footer__images-ibg {
  width: 169px;
  padding-bottom: 42px;
}

.logo-footer__telegram {
  display: block;
  margin-left: auto;
}

.logo-footer__telegram::before {
  font-size: 0.9375rem;
  color: #a4a4a4;
}

.copy-footer__text {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 155.9%;
}

.copy-footer__link {
  text-decoration: underline;
}

.grade-page__title {
  max-width: 50rem;
  font-weight: 700;
  font-size: 45px;
  line-height: 150%;
  text-align: center;
  color: #2b2b2b;
  padding: 6.25rem 0;
  margin: 0 auto;
}

.grade-page__form {
  margin-bottom: 8.75rem;
}

.form-grade__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-form-grade__input {
  height: 65px;
  border: 0.0625rem solid #d4d4d4;
  border-radius: 0.3125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 35px;
  padding-right: 35px;
}

.item-form-grade__input:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.item-form-grade__input::-webkit-input-placeholder {
  font-weight: 400;
  line-height: 1.25;
  color: #b6b6b6;
}

.item-form-grade__input::-moz-placeholder {
  font-weight: 400;
  line-height: 1.25;
  color: #b6b6b6;
}

.item-form-grade__input:-ms-input-placeholder {
  font-weight: 400;
  line-height: 1.25;
  color: #b6b6b6;
}

.item-form-grade__input::-ms-input-placeholder {
  font-weight: 400;
  line-height: 1.25;
  color: #b6b6b6;
}

.item-form-grade__input::placeholder {
  font-weight: 400;
  line-height: 1.25;
  color: #b6b6b6;
}

.item-form-grade__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.item-form-grade__label span {
  font-weight: 400;
}

.description__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66% 1fr;
  grid-template-columns: 66% 1fr;
  gap: 1.25rem;
}

.content-description__how {
  padding-top: 4.5625rem;
  padding-bottom: 4.5625rem;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #fff;
  border-radius: 0.3125rem;
}

.content-description__bot {
  font-size: 16px;
  padding-top: 3.875rem;
  padding-bottom: 3.875rem;
  padding-left: 70px;
  padding-right: 70px;
  border: 0.0625rem solid #d4d4d4;
  border-radius: 0.3125rem;
}

.how-content__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 155.9%;
  color: #2B2B2B;
}

.how-content__title:not(:last-child) {
  margin-bottom: 1.64em;
}

.how-content__text {
  font-weight: 400;
  line-height: 155.9%;
}

.bot-content__link {
  display: block;
  margin-bottom: 1.875rem;
}

.bot-content__link::before {
  font-size: 1.375rem;
  color: #d4d4d4;
}

.bot-content__link span {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 155.9%;
}

.bot-content__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 155.9%;
}

.text-bot__link {
  display: block;
  color: #1e96c8;
}

.results__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #2B2B2B;
  text-align: center;
}

.results__title:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.results__test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  padding-top: 50px;
  border-top: 0.0625rem solid #d4d4d4;
}

.test-results__indicator {
  text-align: right;
}

.item-results__image-ibg {
  padding-bottom: 63.488372093%;
}

.item-results__image-ibg:not(:last-child) {
  margin-bottom: 2.5rem;
}

.item-results__img {
  border-radius: 0.625rem;
}

.share-results__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-weight: 600;
  line-height: 100%;
  color: #757575;
}

.share-results__label::before {
  font-size: 0.9375rem;
}

.share-results__label:not(:last-child) {
  margin-bottom: 1.25em;
}

.share-results__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.form-share__input {
  max-width: 23.375rem;
  height: 2.875rem;
  padding: 0 0.625rem;
  border: 0.0625rem solid #d4d4d4;
  border-radius: 0.3125rem;
}

.form-share__btn {
  width: 2.875rem;
  height: 2.875rem;
  background-color: #20253c;
  border-radius: 0.3125rem;
}

.form-share__btn::before {
  color: #fff;
}

.checker-results__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
  padding: 0.8125rem;
  border: 0.0625rem solid #d4d4d4;
  border-radius: 0.3125rem;
  font-weight: 600;
  line-height: 100%;
  color: #757575;
}

.checker-results__item::before {
  font-size: 0.9375rem;
}

.checker-results__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.indicator-results__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 100%;
  padding-right: 0.625rem;
}

.indicator-results__title:not(:last-child) {
  margin-bottom: 2.1111111111em;
}

.problem__item {
  text-align: center;
}

.violation__label {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 155.9%;
  padding-bottom: 0.5rem;
  border-bottom: 0.0625rem solid #d4d4d4;
  cursor: pointer;
}

.violation__label:not(:last-child) {
  margin-bottom: 2.1111111111em;
}

.violation__description {
  margin: 0 0 1.875rem 0;
}

.description-violation__content {
  padding: 0 0 1.875rem 0;
  text-align: center;
}

.description-violation__box {
  overflow: auto;
}

.description-violation__table {
  width: 1180px;
  border: 0.0625rem solid #d4d4d4;
  border-collapse: collapse;
}

.description-violation__th {
  width: 280px;
  border: 0.0625rem solid #d4d4d4;
  padding: 1.1875rem 0.3125rem;
  text-align: center;
}

.description-violation__th_num {
  width: 60px;
}

.description-violation__td {
  padding: 0.625rem;
  border: 0.0625rem solid #d4d4d4;
  text-align: center;
}

.description-violation__td code {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 112%;
}

.description-violation__td p {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 100%;
}

.description-violation__item {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 166%;
}

.content-description__title {
  font-weight: 500;
  line-height: 155.9%;
}

.content-description__title:not(:last-child) {
  margin-bottom: 0.5em;
}

.content-description__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 155.9%;
}

.content-description__text:not(:last-child) {
  margin-bottom: 2.1428571429em;
}

.next__content {
  padding-top: 4.5625rem;
  padding-bottom: 4.5625rem;
  padding-left: 73px;
  padding-right: 73px;
  background-color: #2b2b2b;
  border-radius: 0.625rem;
  text-align: center;
  color: #fff;
}

.content-next__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 100%;
}

.content-next__title:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.content-next__text {
  font-weight: 400;
  line-height: 155.9%;
  font-size: 16px;
}

.content-next__text span {
  font-weight: 500;
}

.content-next__text:not(:last-child) {
  margin-bottom: 2.5em;
}

.content-next__email {
  font-weight: 400;
  font-size: 18px;
  line-height: 155.9%;
}

.content-next__email_link {
  font-weight: 600;
  font-size: 25px;
}

@media (min-width: 47.99875em) {
  .grade-page__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 79% 1fr;
    grid-template-columns: 79% 1fr;
    gap: 1.25rem;
  }
}

@media (min-width: 61.99875em) {
  .bot-content__link span {
    display: none;
  }

  .results__test {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 36.5% 1fr 1fr;
    grid-template-columns: 36.5% 1fr 1fr;
    gap: calc(15px + 55 * ((100vw - 320px) / 1600));
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 1180px) {
  .page__results {
    margin-bottom: calc(50px + 50 * ((100vw - 320px) / 860));
  }

  .title_litle {
    font-size: calc(23px + 2 * ((100vw - 320px) / 860));
  }

  .btn {
    height: calc(55px + 8 * ((100vw - 320px) / 860));
  }

  .header {
    padding-top: calc(16px + 14 * ((100vw - 320px) / 860));
  }

  .header {
    padding-bottom: calc(16px + 14 * ((100vw - 320px) / 860));
  }

  .logo-footer__text {
    font-size: calc(11px + 4 * ((100vw - 320px) / 860));
  }

  .logo-footer__images-ibg {
    width: calc(125px + 44 * ((100vw - 320px) / 860));
  }

  .logo-footer__images-ibg {
    padding-bottom: calc(31px + 11 * ((100vw - 320px) / 860));
  }

  .copy-footer__text {
    font-size: calc(9px + 3 * ((100vw - 320px) / 860));
  }

  .grade-page__title {
    font-size: calc(30px + 15 * ((100vw - 320px) / 860));
  }

  .item-form-grade__input {
    height: calc(55px + 10 * ((100vw - 320px) / 860));
  }

  .item-form-grade__input {
    padding-left: calc(25px + 10 * ((100vw - 320px) / 860));
  }

  .item-form-grade__input {
    padding-right: calc(15px + 20 * ((100vw - 320px) / 860));
  }

  .item-form-grade__label {
    font-size: calc(14px + 2 * ((100vw - 320px) / 860));
  }

  .content-description__how {
    padding-left: calc(25px + 45 * ((100vw - 320px) / 860));
  }

  .content-description__how {
    padding-right: calc(25px + 45 * ((100vw - 320px) / 860));
  }

  .content-description__bot {
    font-size: calc(14px + 2 * ((100vw - 320px) / 860));
  }

  .content-description__bot {
    padding-left: calc(45px + 25 * ((100vw - 320px) / 860));
  }

  .content-description__bot {
    padding-right: calc(45px + 25 * ((100vw - 320px) / 860));
  }

  .results__title {
    font-size: calc(25px + 5 * ((100vw - 320px) / 860));
  }

  .results__test {
    padding-top: calc(45px + 5 * ((100vw - 320px) / 860));
  }

  .next__content {
    padding-left: calc(15px + 58 * ((100vw - 320px) / 860));
  }

  .next__content {
    padding-right: calc(15px + 58 * ((100vw - 320px) / 860));
  }

  .content-next__text {
    font-size: calc(15px + 1 * ((100vw - 320px) / 860));
  }

  .content-next__email_link {
    font-size: calc(20px + 5 * ((100vw - 320px) / 860));
  }
}

@media (max-width: 61.99875em) {
  .description__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .content-description__bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bot-content__link::before {
    color: #fff;
  }

  .bot-content__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.6875rem;
    padding: 0.75rem;
  }

  .bot-content__link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0;
    background-color: #1e96c8;
    color: #fff;
    border-radius: 5px;
  }

  .bot-content__text {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .btn {
    width: 100%;
  }

  .form-grade__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 1.125rem;
  }

  .violation__details {
    text-align: left;
  }
}

@media (any-hover: hover) {
  .text-bot__link:hover {
    text-decoration: underline;
  }
}